/* ResetPassword.css */

.reset-password-form {
  width: 100%;
  padding: 2em;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
}

.reset-password-form:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .reset-password-form {
    width: 50vw;
    max-width: 15em;
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.flex-row label {
  width: 4em; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
  cursor: pointer;
}

.flex-row input {
  flex: 1;
  /* padding: 1em; */
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
}

.flex-row input:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.1);
}


.reset-password-submit {
  display: block;
  padding: 1em;
  width: 100%;
  background: linear-gradient(to right, #000000, #000000);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.reset-password-submit:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.1);
}

.error-message {
  margin-top: 1em;
  color: red;
  font-size: 0.75em;
  text-align: center;
  position: relative;
}

.back-to-login {
  margin-top: 1em;
  color: #007bff;
  font-size: 0.75em;
  text-align: center;
  position: relative;
  padding-left: 120px;
}
