
.history-form {
  position: absolute;
  left: 24.5%;
  top: 15%;
  /* display: flex; */
  padding-top: 10px;
  margin-left: -20px;
}

.history-form2 {
   position: absolute;
  right: 4.5%; /* Adjusted to right side */
  top: 15%;
  padding-top: 10px;
  margin-left: 34px; 
}


.history-table {
  position: absolute;
  left: 8.2%;
  top: 48%;
  display: flex;
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .dashboard-form,
  .dashboard-form2,
  .dashboard-table {
    position: static;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
